#overlay_modal.show(style="background-image: url('img/bg/overlay_modal.jpg');")


#modal_country.modal_country.show
	.div_table
		.div_table_cell
			img(src="img/icons/logo-white.svg" alt="the COAT")

			.modal_wrap
				p Choose your country to discover more.
				form
					.form-holder
						select(data-validate="select")
							option(value="") COUNTRY
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy

					.btn.submit ENTER

