#overlay_modal(style="background-image: url('img/bg/overlay_modal.jpg');")


#modal_country.modal_country
	.div_table
		.div_table_cell
			img(src="img/icons/logo-white.svg" alt="the COAT")

			.modal_wrap
				p Choose your country to discover more.
				form
					.form-holder
						select(data-validate="select")
							option(value="") COUNTRY
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy

					.btn.submit ENTER

#modal_italy.modal_div
	.modal_close
		.label Close
	.content-holder
		.block_text
			p
				| Our online shop doesn't work in Italy, but you can inquire about our products from our official partner,
				br
				a(href="#" target="_blank") Guffanti showroom
			p
				| Corridoni 37
				br
				| 20122 - Milano
				br
				| tel +39 02 76013108
				br
				| fax +39 02 76011002



#modal_country_change.modal_div
	.modal_close
		.label Close
	.content-holder
		.block_text
				h3 In which country do you want to buy our products?
				form
					.form-holder
						select(data-validate="select")
							option(value="") COUNTRY
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy
							option(value="Ukraine") Ukraine
							option(value="Italy") Italy

					.btn.submit ENTER
