doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.error
            include ./header.jade
            .content
                h3 OOPS.
                p The page you try to visit was not found.
                a(href="collections") VISIT OUR LAST COLLECTION

            include ./footer.jade



