doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.about
            #preloader_blue
            include ./header.jade
            .content
                    #slder_about
                        .slder_about
                            li(style='background: url("../img/content/img_about.jpg") no-repeat top center #eaeaec; background-size: cover;')
                            li(style='background: url("../img/content/img_about.jpg") no-repeat top center #eaeaec; background-size: cover;')
                    .text_block
                        .overflow-block

                            h3 Brand
                            p Clothing
                                b &nbsp;THE COAT&nbsp;
                                | is not for "strong" women, I would say more -
                                b &nbsp;for cool!&nbsp;
                                | Cool - because they are good-looking, they raise their children, and in parallel defend master's works. They make their husbands romantic evenings in hotels, conquer wake board, run charity marathons, build businesses and prepare for the MBA in the sixth month of pregnancy.
                            p I fall in love with these women, and they yavlyayutsya my inspiration!
                            p Background on the collection of coats became sad stage in my personal life, which led to a sad and even depressed state of mind. Cold gray autumn especially did not have to change for the better. And then I decided that it was a warm coat and a bright color will fall to my liking. So it happened that negative experiences have launched something light, bright, and as it turned out successful.
                            h3 KATYA SILCHENKO
                            p Although there were people who tried to dissuade me from pink cashmere, arguing it was his alleged "nenosibelnostyu and extravagance." But I remained true to her decision and was confident in its correctness. Over time, everything will work and in their personal lives and in their work.







            include ./footer.jade



