doctype html
html(lang="ru")
	include ./head.jade


	body
		.page_wrapper.article
			#preloader_green
			include ./header.jade
			.content.cf
				.close
				#slder_article.left
					.slder_article
						li(style='background: url("../img/content/article_img.png") no-repeat top center #eaeaec; background-size: cover;')
						li(style='background: url("../img/content/article_img.png") no-repeat top center #eaeaec; background-size: cover;')


				.text_block
					.overflow-block
						h1 new collection The Coat by Katya SILCHENKO first WILL SEE Paris
						p From 6 to 9 March outfits autumn-winter 2016 will be presented in the show room of Ukrainian designers. It will open its doors in the heart of Paris, Hotel Westminster.
						h3 Katya Silchenko:
						p "Our agent in Paris organized us a meeting with the owners of boutiques and fashion experts. I want to both European and American buyers interested in my collection. I think they need to appreciate the colors of dresses and our signature decorative elements in the form of fur and feathers. "
						p For the presentation of Katia Silchenko has produced twenty bows from the collection of autumn-winter 2016-2017. Their creativity has inspired the creation of designer Ukrainian Sonia Delaunay, who at the beginning of the last century, emigrated to Europe. Its authorship belong bright art work in unexpected color combinations and geometric.



						include partials/likely



			include ./footer.jade



