doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.collections
            include ./header.jade
            .content

                    .collections_block.cf
                        .list_collections
                            .item.active
                                a(href="collections.html") FALL WINTER 2016-2017
                            .item
                                a(href="collections.html") SPRING 2016
                            .item
                                a(href="collections.html") CROUISE 2015
                            .item
                                a(href="collections.html") FALL WINTER 2015-2016
                            .item
                                a(href="collections.html") SPRING SUMMER 2015
                            .item
                                a(href="collections.html") FALL WINTER 2014-2015


                    .block_text_collections
                        .gallery
                            .item
                                img(src="/img/content/img_collections.jpg")
                            .item
                                img(src="/img/content/img_collections.jpg")
                            .item
                                img(src="/img/content/img_collections.jpg")

                        .gallery-icons
                            a(data-slide-index="0" href="")
                                img(src="/images/content/img_collections_icons.jpg" )
                            a(data-slide-index="0" href="")
                                img(src="/images/content/img_collections_icons.jpg" )
                            a(data-slide-index="0" href="")
                                img(src="/images/content/img_collections_icons.jpg" )


                        h3 FALL WINTER 2014-2015
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.







            include ./footer.jade



