doctype html
html(lang="ru")
	include ./head.jade


	body
		.page_wrapper.collections
			//#preloader_pink
			#loader.vertical--center
				.vertical-center__element
					span.preloader.preloader--top
					span.preloader.preloader--bottom

			include ./header.jade
			.content

				.collections_block.cf
					.active_collections(style="background: #e0f0f0") COLLECTIONS
					.collections
						.item.active
							a(href="collections.html")
								span.color_bg(style="background: #fff2df" )
								span FALL WINTER 2016-2017
						.item
							a(href="collections.html")
								span.color_bg(style="background: #fbe4eb" )
								span SPRING 2016
						.item
							a(href="collections.html")
								span.color_bg(style="background: #f0f7e8" )
								span CROUISE 2015
						.item
							a(href="collections.html")
								span.color_bg(style="background: #dff6f9" )
								span FALL WINTER 2015-2016
						.item
							a(href="collections.html")
								span.color_bg(style="background: #ffe5e8" )
								span SPRING SUMMER 2015
						.item
							a(href="collections.html")
								span.color_bg(style="background: #ebeef0" )
								span FALL WINTER 2014-2015


				.block_text_collections
					.block_left
						.gallery
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections2.jpg")
							a.item(href="img/content/img_collections2.jpg")
								img(src="img/content/img_collections3.jpg")
							a.item(href="img/content/img_collections3.jpg")
								img(src="img/content/img_collections4.jpg")
							a.item(href="img/content/img_collections4.jpg")
								img(src="img/content/img_collections5.jpg")
							a.item(href="img/content/img_collections5.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")



					.block_right
						h3 FALL WINTER 2014-2015
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						p
							strong
								a(href="#") SEE PRICES

						include partials/likely

						.gallery-icons
							a(data-slide-index="0" href="")
								img(src="img/content/img_collections.jpg" )
							a(data-slide-index="1" href="")
								img(src="img/content/img_collections2.jpg" )
							a(data-slide-index="2" href="")
								img(src="img/content/img_collections3.jpg" )
							a(data-slide-index="3" href="")
								img(src="img/content/img_collections4.jpg" )
							a(data-slide-index="4" href="")
								img(src="img/content/img_collections5.jpg" )
							a(data-slide-index="5" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="6" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="7" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="8" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="9" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="10" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="11" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="12" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="13" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="14" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="15" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="16" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="17" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="18" href="")
								img(src="img/content/img_collections_icons.jpg" )
							a(data-slide-index="19" href="")
								img(src="img/content/img_collections_icons.jpg" )



				.block_text_collections.mobile
					.block_right
						h3 FALL WINTER 2014-2015
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						p
							strong
								a(href="#") SEE PRICES

						include partials/likely
					.block_left
						.gallery_mobile
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")
							a.item(href="img/content/img_collections.jpg")
								img(src="img/content/img_collections.jpg")

				.collections_footer.mobile

					.collections
						.item.active
							a(href="collections.html") FALL WINTER 2016-2017
						.item
							a(href="collections.html") SPRING 2016
						.item
							a(href="collections.html") CROUISE 2015
						.item
							a(href="collections.html") FALL WINTER 2015-2016
						.item
							a(href="collections.html") SPRING SUMMER 2015
						.item
							a(href="collections.html") FALL WINTER 2014-2015







			include ./footer.jade
			#blueimp-gallery.blueimp-gallery
				.slides
				a.prev
				a.next
				a.close



