doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.contacts
            #preloader_blue
            include ./header.jade
            .content
                    #slder_contacts
                        .slder_contacts
                            li(style='background: url("../img/content/thecoat_door.jpg") no-repeat top center #eaeaec; background-size: cover;')
                            li(style='background: url("../img/content/thecoat_door.jpg") no-repeat top center #eaeaec; background-size: cover;')

                    .text_block
                        .overflow-block
                            h3 OFFICE
                            p 48 Vozdvigenskaya str, office 3 Kiev, Ukraine
                            h3 CALL US
                            p
                                a(href="tel:+38 066 471 00 02") +38 066 471 00 02
                                br
                                a(href="tel:+38 066 471 00 02") +38 066 471 00 02
                            h3 GENERAL
                            p
                                a(href="mailto:info@thecoat.me") info@thecoat.me
                            h3 PRESS
                            p
                                a(href="mailto:press@thecoat.me") press@thecoat.me
                            h3 SALES
                            p
                                a(href="mailto:sales@thecoat.me") sales@thecoat.me
                            h3 FOLLOW US
                            p

                                a(href="https://www.facebook.com/ThCoatByKatyaSilchenko") FACEBOOK
                                br
                                a(href="https://www.instagram.com/thecoatsk/") INSTAGRAM






            include ./footer.jade



