#bar_opened.disable-scrolling

header
	.top.cf

		.menu-icon

			.label Menu
		.logo
			a(href="/")
				img(src="img/icons/logo.svg")
		.bag-icon
			span 2
			.label Bag
	.menu-bar.scrollable
		.nav-menu-wrapper
			.menu
				.menu-holder
					.menu-block
						//.title Menu
						ul.nav
							li
								a(href="about.html") ABOUT
							li
								a(href="collections.html") COLLECTIONS
							li
								a(href="media.html") MEDIA
							li
								a(href="stockists.html") STOCKISTS
							li
								a(href="list_product.html") BUY ONLINE
							li
								a(href="contacts.html") CONTACTS
							li
								a(href="info.html") Information


		ul.social.cf
			li.instagram
				a(href="#" target="_blank")
					span
						img(src="img/icons/instagram.svg")
					span.hover
						img(src="img/icons/instagram.svg")
			li.facebook
				a(href="#" target="_blank")
					span
						img(src="img/icons/fb.svg")
					span.hover
						img(src="img/icons/fb.svg")
		ul.lang
			li.active
				a(href="#")
					span EN
					span.hover EN
			li
				a(href="#")
					span RU
					span.hover RU
		.info
			a.open_modal(href="#modal_country_change" )
				span Country - Ukraine
				span.hover Country - Ukraine

	.bag_bar.scrollable

		.bag-icon.cf
			span 2
		.list_product_bag
			.bag_null
			.item_product.cf
				a.cf(href="product.html")
					.img-holder
						img(src="img/content/product.png")
					.title GREY COAT WITH FUR GREY COAT WITH FUR
					.size Size: S  |  QTY: 1
					button.delete
					.price $ 540
				p This item is exclusive made by pre-order (up to 3 business days )
			.item_product.cf
				a.cf(href="product.html")
					.img-holder
						img(src="img/content/product.png")
					.title GREY COAT WITH FUR
					.size Size: L  |  QTY: 1
					button.delete
					.price $ 600




		.total
			span TOTAL
			span $ 1 140.00

		a.checkout.disabled(href="checkout.html" )
			span CHECKOUT
			span.hover CHECKOUT






