#bar_opened
header
    .top.cf

            .menu-icon

                .label Menu
            .logo
                a(href="/")
                    img(src="/img/icons/logo.png")
            .bag-icon
                span 0
                .label Bag
    .menu-bar
        .menu
            .title MENU
            ul.nav
                li
                    a(href="") BUY ONLINE
                li
                    a(href="collections.html") COLLECTIONS

                li
                    a(href="media.html") MEDIA
                li
                    a(href="about.html") ABOUT

                li
                    a(href="stockists.html") STOCKISTS

                li
                    a(href="contacts.html") CONTACTS

        ul.social.cf
            li.instagram
                a(href="#" target="_blank")

            li.facebook
                a(href="#" target="_blank")
        ul.lang
            li.active
                a(href="#") EN
            li
                a(href="#") RU
        .info
            a(href="info.html")
                .img-holder
                    img(src="img/icons/info.svg")

    .bag_bar
        .bag-icon.cf
            span 0

        .total
            span TOTAL
            span $ 0.00
        a.checkout(href="#") CHECKOUT






