doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            include ./header.jade

            #slider
                .slider
                    .item(style='background: url("../img/content/slider1.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text.left_text
                                h3 Магазин

            .container
                .wrap




            include ./footer.jade



