doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.article
            include ./header.jade
            .content

                    .text_block
                            h3 DELIVERY RULES
                            p In Kiev delivery of the order is carried out by the courier of the COAT to the address specified by the Client in time from 1 to 5 working days. Free of charge.
                            p Within Ukraine a courier of NOVAPOSHTA delivers an order to the specified address in a period from 1 to 5 working days. Delivery cost up to 100 hrn.
                            p Within SNG a courier of …(firm) delivers an order to the specified address in a period from 2 to 6 working days. Delivery cost up to 50$.
                            p The delivery of an order in other countries is carried out by DHL courier to the specified address in a period from 3 to 7 days. Delivery cost up to 80 €.
                            p Delivery cost is specified in accordance with the tariffs of the delivery service that has been chosen by the Client when ordering.
                            p * Detailed information on delivery is provided to the Client by e-mail in the letter-confirmation of an order. If you have any questions on payment and delivery, please contact the representatives of our company buy@thecoat.me
                            h3 PAYMENT RULES
                            p The payment of an order is made in several methods:
                            ul
                                li Money transfer Western Union. For an order receipt, the Client makes pre-payment via Western Union, MeneyGram. When ordering online, the amount of fees for money transfer services (3%) is deducted from the total amount of the Client order. The fee is paid by the Client when sending a money transfer. This payment method is available at all branches of Western Union, MoneyGram worldwide
                                li Cash on Delivery Nova Poshta. Upon receipt of an order through a delivery service of New Mail the Client pays to a courier of New Mail. This payment method is available within Ukraine.
                                li Cash payment to the courier of the COAT. This payment method is only available for delivery within Kiev. The customer pays cash to the courier upon receipt of an order.
                            p * Explanations on the chosen method of payment is provided to the Client by e-mail in the letter-confirmation of the order. The additional costs that may arise in the course of delivery are paid by the seller.
                            h3 Online payment by credit card VISA / MasterCard:
                            p For the order receipt the Client pays by credit card via the electronic payment system LiqPay when ordering online.
                            p Electronic payment system LiqPay guarantees a high level of security thanks to technology OTP (One-time Password - OTP) and 3D secure code. All operations are supported by a one-time password, which is sent via SMS. Reliability of LiqPay is proved by certificates GoDaddy Secure Web Site, Verified by Visa and MasterCard SecureCode.
                            p After successful payment and transfer of money to the seller, the Client receives an e-mail confirmation letter with the details of the terms and conditions of delivery of an order.
                            p * If you pay by credit card, a refund is made only to the same card with which the payment was made.
                            p For any questions on the payment, please contact buy@thecoat.me

                    .img-holder
                        div(style='background: url("../img/content/delivery_img.jpg") no-repeat top center #eaeaec; background-size: cover;')





            include ./footer.jade



