doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.list_product_page
            include ./header.jade
            .content
                .list_products
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700

                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label NEW
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label pre-order
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label sold out
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label NEW
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label pre-order
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label sold out
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650



            footer
                .THE COAT by KATYA SILCHENKO
                .adress Vozdvigenskaya str, 48
                    br
                    | Kiev, Ukraine
                .emailinfo@thecoat.me
                +38 066 471 00 02
            include ./footer.jade



