doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.list_product_page
            include ./header.jade
            .content
                .list_products
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700

                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label NEW
                                .label pre-order
                                .label sold out
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label pre-order
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label sold out
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label NEW
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label pre-order
                                img(src="img/content/product.png")
                            .title Long brown blazer with zigzag details
                            .price $ 700
                    .item_product
                        a(href="product.html")
                            .img-holder
                                .label sold out
                                img(src="img/content/product.png")
                            .title Grey metallic coat
                            .price $ 650


                a.scrollTop(href="#")
                .filter
                    .title
                        span Filter
                        span.hover Filter
                    form.block_filter
                        .close
                            .label Close

                        .list_filters

                            #attribute1
                                .name PRODUCT
                                .attribute_holder
                                    .attribute
                                        input(type="checkbox" name="option1" value="COATS" id="option1")
                                        label(for="option1") COATS
                                    .attribute
                                        input(type="checkbox" name="option2" value="PANTS" id="option2" )
                                        label(for="option2") PANTS
                                    .attribute
                                        input(type="checkbox" name="option3" value="DRESSES" id="option3" )
                                        label(for="option3") DRESSES
                                    .attribute
                                        input(type="checkbox" name="option4" value="SKIRTS" id="option4" )
                                        label(for="option4") SKIRTS
                                    .attribute
                                        input(type="checkbox" name="option5" value="SHIRTS" id="option5" )
                                        label(for="option5") SHIRTS
                                    .attribute
                                        input(type="checkbox" name="option6" value="SHOES" id="option6" )
                                        label(for="option6") SHOES
                                    .attribute
                                        input(type="checkbox" name="option7" value="ACCESORIES" id="option7" )
                                        label(for="option7") ACCESORIES

                            #attribute2
                                .name SIZE
                                .attribute_holder
                                    .attribute
                                        input(type="checkbox" name="option8" value="XXS" id="option8")
                                        label(for="option8") XXS
                                    .attribute
                                        input(type="checkbox" name="option9" value="XS" id="option9" )
                                        label(for="option9") XS
                                    .attribute
                                        input(type="checkbox" name="option10" value="S" id="option10" )
                                        label(for="option10") S
                                    .attribute
                                        input(type="checkbox" name="option11" value="M" id="option11" )
                                        label(for="option11") M
                                    .attribute
                                        input(type="checkbox" name="option12" value="L" id="option12" )
                                        label(for="option12") L

                        button.clear(type="submit" value="clear")
                            span clear
                            span.hover clear
                        button.apply(type="submit" value="apply")
                            span apply
                            span.hover apply



            footer
                p.name THE COAT by KATYA SILCHENKO
                p 48 Vozdvigenskaya str, office 3 Kiev, Ukraine
                p
                    a(href="mailto:info@thecoat.me") info@thecoat.me

                    a(href="tel:+38 066 471 00 02") +38 066 471 00 02
                ul.social.cf
                    li.instagram
                        a(href="#" target="_blank")
                            span
                                img(src="img/icons/instagram_w.svg")
                            span.hover
                                img(src="img/icons/instagram_w.svg")
                    li.facebook
                        a(href="#" target="_blank")
                            span
                                img(src="img/icons/fb_w.svg")
                            span.hover
                                img(src="img/icons/fb_w.svg")


            include ./footer.jade



