doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.media
            include ./header.jade
            .content
                .list_media_items
                    .media_item
                        a(href="article.html" )
                            .img-holder
                                 img(src="img/content/media1.jpg")
                            .title From Odessa to Paris: Collection the Coat by Katya Silchenko FW16-17
                            .url the coat

                    .media_item
                        a(href="http://jetsetter.ua/" target="_blank")
                            .img-holder
                                img(src="img/content/media2.jpg")
                            .title UFW День 3: The Coat by Katya Silchenko  FW16-17
                            .url jetsetter.ua

                    .media_item
                        a(href="http://officiel-online.com/" target="_blank")
                            .img-holder
                                img(src="img/content/media3.jpg")
                            .title По стопам Сони Делоне: Коллекция THE COAT by Katya Silchenko FW 16-17
                            .url officiel-online.com
                    .media_item
                        a(href="http://www.thecoat.me/" target="_blank")
                            .img-holder
                                img(src="img/content/media4.jpg")
                            .title Новую коллекцию The COAT by Katya Silchenko первым увидит Париж
                            .url THECOAT.me
                    .media_item
                        a(href="http://vogue.ua/" target="_blank")
                            .img-holder
                                img(src="img/content/media5.jpg")
                            .title Гардероб Таня Немченко
                            .url VOGUE.UA

                    .media_item
                        a(href="http://pink.ua/" target="_blank")
                            .img-holder
                                img(src="img/content/media6.jpg")
                            .title Fashion Targets: How to get into the lens of street style photographer
                            .url pink.ua


            include ./footer.jade



