doctype html
html(lang="ru")
	include ./head.jade


	body
		.page_wrapper.product
			#preloader_grey
			include ./header.jade
			.content.cf
				a.close(href="/products")

				.img-holder
					.img_product

						a.item(href="img/content/product.png")
							img(src="img/content/product.png")
						a.item(href="img/content/product.png")
							img(src="img/content/product.png")
						a.item(href="img/content/product.png")
							img(src="img/content/product.png")

				.pdocut_info
					.label NEW
					.title Grey coat with fur
					.article #00325
					price $350
					.description
						p
							b material:
						ul
							li 70% wool
							li 25% polyester
							li 3% nylon
							li 2% acrylic
						p dry clean only
					.guide
						a.title.open_modal(href="#guide_size") SIZE GUIDE

					include partials/likely

					a.whatsapp(href="https://api.whatsapp.com/send?phone=номер") Ask question in whatsapp
			form.add_bag

				#attribute_size
					.name
						span size
						span.hover size
					.attribute_holder
						.attribute
							input(type="radio" name="size" value="XXS" id="option8" disabled)
							label.disabled(for="option8") XXS
						.attribute
							input(type="radio" name="size" value="XS" id="option9" )
							label(for="option9") XS
						.attribute
							input(type="radio" name="size" value="S" id="option10" )
							label(for="option10") S
						.attribute
							input(type="radio" name="size" value="M" id="option11" )
							label(for="option11") M
						.attribute
							input(type="radio" name="size" value="L" id="option12" )
							label(for="option12") L
				button.add_button(type="submit" value="$750.00 add" disabled="disabled")
					span add to cart
					span.hover add to cart

			#guide_size.modal_div
				.modal_close
					.label Close
				.content-holder
					div
						h4
							br
						table
							tbody
								tr
									td
										strong Wears size
									td
										strong XS
									td
										strong S
									td
										strong M
									td
										strong L
								tr
									td
										| Chest (cm)
									td
										| 82-85
									td
										| 86-89
									td
										| 90-93
									td
										| 94-97
								tr
									td
										| Waist (cm)
									td 63-66
									td 67-70
									td
										| 71-74
									td 75-78
								tr
									td
										| Hips (cm)
									td 89-93
									td
										| 94-97
									td
										| 98-101
									td
										| 102-105
						p
							br
						p(style='text-align: left;')
							strong Shoes size
						p(style='text-align: justify;')
							strong 35
							| (22cm) |
							strong 36
							| (23cm) |
							strong 37
							| (24cm) |
							strong 38
							| (25cm) |
							strong 39
							| (26cm) |
							strong 40
							| (27cm) |
							strong 41
							| (28cm) |



			include ./footer.jade
			#blueimp-gallery.blueimp-gallery
				.slides
				a.prev
				a.next
				a.close


