doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.product
            include ./header.jade
            .content.cf

                .img-holder.img_product

                    a.item(href="img/content/product.png")
                        img(src="img/content/product.png")
                    a.item(href="img/content/product.png")
                        img(src="img/content/product.png")
                    a.item(href="img/content/product.png")
                        img(src="img/content/product.png")

                .pdocut_info
                    .label NEW
                    .title Grey coat with fur
                    .article #00325
                    .description
                        p
                            b material:
                        ul
                            li 70% wool
                            li 25% polyester
                            li 3% nylon
                            li 2% acrylic
                        p dry clean only
                    .guide
                        a.title.open_modal(href="#guide_size") SIZE GUIDE
            form.add_bag

                #attribute_size
                    .name
                        span size
                        span.hover size
                    .attribute_holder
                        .attribute
                            input(type="radio" name="size" value="XXS" id="option8")
                            label(for="option8") XXS
                        .attribute
                            input(type="radio" name="size" value="XS" id="option9" )
                            label(for="option9") XS
                        .attribute
                            input(type="radio" name="size" value="S" id="option10" )
                            label(for="option10") S
                        .attribute
                            input(type="radio" name="size" value="M" id="option11" )
                            label(for="option11") M
                        .attribute
                            input(type="radio" name="size" value="L" id="option12" )
                            label(for="option12") L
                a.add_button(type="submit" value="$750.00 add")
                    span $750.00 add
                    span.hover $750.00 add

            #guide_size.modal_div
                .modal_close
                    .label Close
                .content-holder

                    table
                        thead
                            tr
                                th
                                th XXL
                                th XS
                                th S
                                th M
                                th L
                        tbody
                            tr
                                td RU
                                td 38
                                td 40
                                td 42
                                td 44
                                td 46
                            tr
                                td EU
                                td 32
                                td 34
                                td 36
                                td 38
                                td 40
                            tr
                                td Грудь (см)
                                td 76
                                td 80
                                td 84
                                td 88
                                td 92
                            tr
                                td Талия (см)
                                td 58
                                td 62
                                td 66
                                td 70
                                td 74
                            tr
                                td Бедра (см)
                                td 82
                                td 86
                                td 92
                                td 96
                                td 100



            include ./footer.jade
            #blueimp-gallery.blueimp-gallery
                .slides
                a.prev
                a.next
                a.close


