doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.stockists
            include ./header.jade
            .content
                    #slder_stockists
                        .slder_stockists
                            li(style='background: url("../img/content/img_stockists.png") no-repeat top center #eaeaec; background-size: cover;')
                            li(style='background: url("../img/content/img_stockists.png") no-repeat top center #eaeaec; background-size: cover;')
                    .text_block
                        dl
                            dt ONLINE
                            dd
                                h3 POSH
                                p
                                    a(href="https://posh.ua", target="_blank") https://posh.ua
                            dt UKRAINE
                            dd

                                .info_stockists
                                    h3 THE COAT SHOWROOM
                                    p 48 Vozdvyzhenska St., of. 3
                                        br
                                        | Kyiv, Ukraine
                                    p
                                        a(href="tel:+38 066 471 00 02") +38 066 471 00 02
                                    p
                                        a(href="mailto:info@thecoat.me") info@thecoat.me
                                    p
                                        a(href="mailto:thecoatsk@gmail.com") thecoatsk@gmail.com


                                .info_stockists
                                    h3 GALLERY 48
                                    p 48 Antonovycha St.,
                                        br
                                        | Kyiv, Ukraine
                                    p
                                        a(href="tel:+38 073 484 8403") +38 073 484 8403
                                    p
                                        a(href="mailto:info@gallery48.com.ua") info@gallery48.com.ua
                                    p
                                        a(href="http://gallery48.com.ua/" target="_blank") www.gallery48.com.ua

                                .info_stockists
                                    h3 Index 50

                                    p 50 Vozdvyzhenska St.,
                                        br
                                        | Kyiv, Ukraine
                                    p
                                        a(href="tel:+38 888 777 7777") +38 888 777 7777
                                    p
                                        a(href="mailto:info@index50") info@index50
                                    p
                                        a(href="http://www.index.50/" target="_blank") www.index.50


                                .info_stockists
                                    h3 SMLXL
                                    p 22 Vozdvyzhenska St.,
                                        br
                                        | Kyiv, Ukraine
                                    p
                                        a(href="tel:+38 888 777 7777") +38 888 777 7777
                                    p
                                        a(href="mailto:info@index50") info@index50
                                    p
                                        a(href="http://www.index.50/" target="_blank") www.index.50





            include ./footer.jade



